# **List Comprehension**

In [2]:
# Regular list
itemsList = ["item0", "item1", "item2", "item3"]
print(itemsList)

['item0', 'item1', 'item2', 'item3']

In [3]:
# Using for loop

itemArr = []
for i in range(3):
    itemArr.append("item" + str(i))
itemArr

['item0', 'item1', 'item2']

In [4]:
# List comprehension
itemComp = ["item" + str(i) for i in range(3)]
itemComp

['item0', 'item1', 'item2']

## **Examples**

### **Squares**

In [5]:
[i*i for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
prices = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08

[price + (price * TAX_RATE) for price in prices]

[1.1772, 25.444799999999997, 62.467200000000005, 4.924799999999999, 7.3224]

### **List Comprehension with different iterables**

In [7]:
sentence = "the rocket came back from mars"
[char for char in sentence]

['t',
 'h',
 'e',
 ' ',
 'r',
 'o',
 'c',
 'k',
 'e',
 't',
 ' ',
 'c',
 'a',
 'm',
 'e',
 ' ',
 'b',
 'a',
 'c',
 'k',
 ' ',
 'f',
 'r',
 'o',
 'm',
 ' ',
 'm',
 'a',
 'r',
 's']

### **List Comprehension with if**

In [9]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
[price if price > 0 else 0 for price in original_prices]

[1.25, 0, 10.22, 3.78, 0, 1.16]

#### Remove Duplicates With Set and Dictionary Comprehensions

In [11]:
sentense = 'this is sarang kumar'
{char for char in sentense if char in 'aeiou'}

{'a', 'i', 'u'}

#### Dictionary comprehensions

In [12]:
{number: number * number for number in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [13]:
def double(num: int) -> int:
    return num * 2

[{i, temp:=double(i)} for i in range(10) if double(i) > 10]

[{6, 12}, {7, 14}, {8, 16}, {9, 18}]

### **List Comprehension with if-else**

In [14]:
numbers = [1, 2, 3, 4, 5, 6]

# find even and odd numbers
even_odd_list = ["Even" if i % 2 == 0 else "Odd" for i in numbers]

print(even_odd_list)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

### **Nested List Comprehension**

In [15]:
multiplication = [[i * j for j in range(1, 6)] for i in range(2, 5)]
print(multiplication)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]